#container{
    width: 650px;
    text-align: center;
    margin-top: 6px;
    margin-left: 350px;
    height: 650px;
    align-content: center;
    position: relative;
    background-color: aquamarine;
}

button{ 
    margin-left: 650px;
    background-color: #bfbec2; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
